@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
}

<h2>Roles Listing </h2>

@Html.ActionLink("Create New Role", "Create") 
<hr />
<div>
    @foreach (var role in Model)
    {
        <p>
            <strong>@role.Name        </strong>
            <br />
            @Html.ActionLink("Edit Role", "Edit", new { roleName = @role.Name }) |
            <span onclick="return confirm('Are you sure you want to delete this Role?')"><a href="/Roles/Delete?RoleName=@role.Name" class="delLink" style="color:red;">Delete Role</a></span> 
        </p>
    }
</div>