@{
    ViewBag.Title = "About";
}
<div class="form-horizontal">
    <p class="text-center"><h3>Hack to the Future Blog Project&nbsp</h3></p>

</div>
<br />
<div class="form-horizontal">
    <div class="btn-default" align="right"><img src="~/images/dataflow.gif" class="img-rounded" height="333" width="590" align="left" /></div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
<article>
    <strong>Project Developer:</strong>  Plamen Petkov  <br />
    <strong>SoftUni Username:</strong>  plamen27<br />
    <strong>Email:</strong>  <a href="mailto:plam_en27@abv.bg">plam_en27@abv.bg</a> <br />
    <strong>Project Code Name:</strong>  June <br />
</article>


<p>&nbsp;